---
import logo from "../assets/knowy.svg"
---

<footer class="bg-primary-500 w-full shadow-sm">
	<div class="mx-auto w-full max-w-screen-xl p-4">
		<div class="sm:flex sm:items-center sm:justify-between">
			<a
				data-label="Logo"
				class="text-accent-100 flex h-full w-1/2 flex-row items-center gap-1 p-2 text-xl font-bold not-md:w-full not-md:justify-center"
			>
				<img src={logo.src} alt="Logo" class="h-11" />
				<span>Knowy</span>
			</a>
			<ul class="text-accent-100 mb-6 flex flex-wrap items-center justify-center text-sm font-medium sm:mb-0">
				<li>
					<a href="#" class="hover:text-accent-300 me-4 hover:underline md:me-6">About</a>
				</li>
				<li>
					<a href="#" class="hover:text-accent-300 me-4 hover:underline md:me-6">Privacy Policy</a>
				</li>
				<li>
					<a href="#" class="hover:text-accent-300 me-4 hover:underline md:me-6">Licensing</a>
				</li>
				<li>
					<a href="#" class="hover:text-accent-300 hover:underline">Contact</a>
				</li>
			</ul>
		</div>
		<hr class="border-accent-300 sm:mx-auto" />
		<span class="text-accent-100 block text-center text-sm">
			© 2025 <a href="#" class="hover:text-accent-300 hover:underline">Knowy</a>. All Rights Reserved.
		</span>
	</div>
</footer>
