---
import logo from "../assets/knowy.svg"
---

<footer class="w-full bg-primary-500 shadow-sm">
	<div class="mx-auto w-full max-w-screen-xl p-4">
		<div class="sm:flex sm:items-center sm:justify-between">
			<a data-label="Logo" class="flex h-full w-1/2 flex-row items-center gap-1 p-2 text-xl font-bold text-accent-100 not-md:w-full not-md:justify-center">
				<img src={logo.src} alt="Logo" class="h-11" />
				<span>Knowy</span>
			</a>
			<ul class="mb-6 flex flex-wrap items-center justify-center text-sm font-medium text-accent-100 sm:mb-0">
				<li>
					<a href="#" class="me-4 hover:underline hover:text-accent-300 md:me-6">About</a>
				</li>
				<li>
					<a href="#" class="me-4 hover:underline hover:text-accent-300 md:me-6">Privacy Policy</a>
				</li>
				<li>
					<a href="#" class="me-4 hover:underline hover:text-accent-300 md:me-6">Licensing</a>
				</li>
				<li>
					<a href="#" class="hover:underline hover:text-accent-300">Contact</a>
				</li>
			</ul>
		</div>
		<hr class="border-accent-300 sm:mx-auto" />
		<span class="block text-sm text-accent-100 text-center">
      © 2025 <a href="#" class="hover:underline hover:text-accent-300">Knowy</a>. All Rights Reserved.
    </span>
	</div>
</footer>
