---
interface Props {
	title: string
}

const { title } = Astro.props
---

<div class="border-secondary-300 bg-accent-100 h-56 max-w-sm min-w-xs rounded-lg border p-4 shadow-sm">
	<div class="flex h-12 max-h-12 w-full flex-col items-center justify-center">
		<slot name="icon" />
	</div>

	<h5 class="text-secondary-800 mb-2 text-center text-2xl font-bold tracking-tight">
		{title}
	</h5>
	<p class="text-secondary-600 mb-3 font-normal">
		<slot />
	</p>
</div>
