---
import logo from "../assets/knowy.svg"
import LinkButton from "./LinkButton.astro"
---

<header class="bg-primary-500 sticky z-50 flex h-16 w-full items-center">
	<a
		href="/"
		class="text-accent-100 flex h-full w-1/2 items-center gap-2 p-4 text-xl font-bold"
		aria-label="P치gina principal"
	>
		<img src={logo.src} alt="Logo Knowy" class="h-11" />
		<span>Knowy</span>
	</a>

	{/* Desktop navigation */}
	<nav class="hidden w-1/2 items-end justify-end gap-3 px-10 py-4 md:grid md:grid-cols-2 lg:grid-cols-3">
		<div class="not-lg:hidden"></div>
		<LinkButton href="/auth/login" variant="primary">Inicio Sesi칩n</LinkButton>
		<LinkButton href="/auth/regist" variant="secondary">Registrarse</LinkButton>
	</nav>

	{/* Mobile navigation */}
	<aside class="fixed top-0 right-0 z-50 flex h-16 w-full items-center justify-end bg-transparent md:hidden">
		{/* Button that open the menu */}
		<button
			id="menuButton"
			class="bg-primary-600 text-accent-100 z-50 m-4 flex h-12 w-12 items-center justify-center rounded-md text-2xl shadow-lg transition-transform duration-200 active:scale-90"
			aria-label="Abrir men칰 m칩vil"
		>
			游
		</button>

		{/* Menu content */}
		<nav
			id="mobileMenu"
			class="bg-primary-500 fixed top-0 right-0 z-40 h-screen w-0 overflow-hidden transition-[width,background-color] duration-300"
		>
			<ul class="text-accent-100 mt-20 flex flex-col gap-2 text-2xl font-medium">
				<li>
					<a href="#" class="hover:bg-primary-600 block p-4 pl-8 transition-colors duration-200">
						Iniciar Sesi칩n
					</a>
				</li>
				<li>
					<a href="#" class="hover:bg-primary-600 block p-4 pl-8 transition-colors duration-200">
						Registrarse
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</header>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const btn = document.getElementById("menuButton") as HTMLButtonElement | null
		const menu = document.getElementById("mobileMenu") as HTMLElement | null

		let open = false

		btn?.addEventListener("click", () => {
			if (menu) {
				open = !open

				if (open) {
					menu.style.width = "66%"
					menu.classList.remove("bg-transparent")
					menu.classList.add("bg-primary-500")
					return
				}
				menu.style.width = "0"
				menu.classList.remove("bg-primary-500")
				menu.classList.add("bg-transparent")
			}
		})
	})
</script>
