---
import logo from "../assets/knowy.svg"
import LinkButton from "./LinkButton.astro"
---

<header class="sticky top-0 z-50 flex h-16 w-full items-center bg-primary-500">
	<a
		href="/"
		class="flex h-full w-1/2 items-center gap-2 p-4 text-xl font-bold text-accent-100"
		aria-label="P치gina principal"
	>
		<img src={logo.src} alt="Logo Knowy" class="h-11" />
		<span>Knowy</span>
	</a>

	{/* Desktop navigation */}
	<nav class="hidden w-1/2 items-center justify-end gap-3 p-4 md:flex">
		<LinkButton href="#" variant="primary">Inicio Sesi칩n</LinkButton>
		<LinkButton href="#" variant="secondary">Registrarse</LinkButton>
	</nav>

	{/* Mobile navigation */}
	<aside class="fixed top-0 right-0 z-50 flex h-16 w-full items-center justify-end bg-transparent md:hidden">
		{/* Button that open the menu */}
		<button
			id="menuButton"
			class="z-50 m-4 flex h-12 w-12 items-center justify-center rounded-md bg-primary-600 text-2xl text-accent-100 shadow-lg transition-transform duration-200 active:scale-90"
			aria-label="Abrir men칰 m칩vil"
		>
			游
		</button>

		{/* Menu content */}
		<nav
			id="mobileMenu"
			class="fixed top-0 right-0 z-40 h-screen w-0 overflow-hidden bg-primary-500 transition-[width,background-color] duration-300"
		>
			<ul class="mt-20 flex flex-col gap-2 text-2xl font-medium text-accent-100">
				<li>
					<a
						href="#"
						class="block p-4 pl-8 transition-colors duration-200 hover:bg-primary-600"
					>
						Iniciar Sesi칩n
					</a>
				</li>
				<li>
					<a
						href="#"
						class="block p-4 pl-8 transition-colors duration-200 hover:bg-primary-600"
					>
						Registrarse
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</header>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const btn = document.getElementById("menuButton") as HTMLButtonElement | null
		const menu = document.getElementById("mobileMenu") as HTMLElement | null

		let open = false

		btn?.addEventListener("click", () => {
			if (menu) {
				open = !open

				if (open) {
					menu.style.width = "66%"
					menu.classList.remove("bg-transparent")
					menu.classList.add("bg-primary-500")
					return
				}
				menu.style.width = "0"
				menu.classList.remove("bg-primary-500")
				menu.classList.add("bg-transparent")
			}
		})
	})
</script>
