@use '../../_global-vars' as *;


.solutions-accordion .accordion-button {
	background-color: $primary-500;
	color: $neutral-100;
	transition: $transition-speed;
	border-radius: $radius-8 !important;
}

.solutions-accordion .accordion-button:hover {
	background-color: $primary-700;
	color: $neutral-100;
}

.solutions-accordion .accordion-button:not(.collapsed) {
	background-color: $primary-500;
	color: $neutral-100;
}

.solutions-accordion .accordion-button:focus {
	outline: none;
	box-shadow: $card-shadow;
	color: $neutral-100;
}

.solutions-accordion .accordion-item {
	border-radius: $radius-8 !important;
	box-shadow: $card-shadow;
}

.sol-cards {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

